appdirs==1.4.4
Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
mutagen==1.47.0
pycryptodomex==3.19.0
PySide6==6.5.3
PySide6-Addons==6.5.3
PySide6-Essentials==6.5.3
pytube==15.0.0
requests==2.31.0
scrapetube==2.5.1
shiboken6==6.5.3
typing_extensions==4.8.0
urllib3==2.0.6
websockets==11.0.3
yt-dlp==2023.9.24
